<h1>What's Photo Travel?</h1>

<div>車好きとは切っても切れない「愛車の姿を美しく残し、自己満足や仲間と共有する」という楽しみ方。</div>
<div>車をインターネットで検索した際に出てくる秀逸な写真の数々。</div>
<div>「自分もこんな写真を撮ってみたい！」と思いながらも、</div>
<div>そこがどこかわからず、手がかりも無く調べることができなかったり、</div>
<div>似た写真を撮ろうにもロケーションの新規開拓を行うというのは思った以上に困難だという経験はありませんか？</div>

<div>Photo Travelはそんなハードルを感じる車好きの方々を応援します。</div>
<div>過去、或いはまさに今日ドライブしてきたという場所で撮影した自慢のマイカーたちの写真と位置情報を共有することで</div>
<div>マイナーなロケーションでもひと目で場所がわかり、「こんな場所があるのか！」「自分も撮ってみたい！」</div>
<div>という要望を叶えることができるようになります。</div>

<div>他にも「車を運転すること」、「ドライブに出かけること」そのものが好きであり、</div>
<div>いざ「気分転換にドライブでも行こう」と思っても、目的地が定まらず、</div>
<div>結局出掛けずじまいとなってしまうという経験はありませんか？</div>
<div>「名物が有名だから、一度食べてみたかったからここに行こう！」</div>
<div>「前から行きたいと思っていた温泉地なんだ！」など、旅行やグルメが目的であれば自ずと目的地は定まりますが、</div>
<div>「車を運転する」という、「過程」そのものが好きな車好きな方々からすると、目的地を定めるというのは</div>
<div>想像以上に難しいものですよね。</div>

<div>Photo Travelはそんなドライバーの御役にも立てたらなと思っています。</div>
<div>特に行きたい場所が内場合、美しい写真が撮れるスポットを目標地点に設定するというのはどうでしょうか。</div>
<div>県外や遠く離れた市町村であれば周辺でお食事処を探すということもできますし、</div>
<div>ご近所であっても知らない場所であれば新たなルートやスポットと出会えるという楽しみも生まれるかと思います。</div>

<div>また、投稿にいいねやコメントをつけることで他のユーザーとのコミュニケーションも図れるため、</div>
<div>車を通じて新たなお友達を見つけるという楽しみ方も！</div>

<div>当サービスを通してあなたのカーライフが更に色濃いものとなりますように。</div>
